header.header
    .header__column
        a(href=routes.HOME)
            i.fab.fa-youtube
    .header__column
        form(action=routes.SEARCH, method="get")
            input(type="text", placeholder="Search by term", name="term")
    .header__column
        ul
            li
                a(href=routes.JOIN) Join
            li
                a(href=routes.LOGIN) Logged In